<div class="col-sm-3 col-xs-4">
  <%= link_to [bookmark.topic, bookmark] do %>
    <img src="http://placehold.it/200x200" class="img-responsive mtm" alt="Bookmark Image">
  <% end %>
  <div class="text-center">
    <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
  </div> 
</div>