<div class="row mtl">
  <div class="col-md-12">
    <span class="h4"><%= link_to topic.title, topic %></span>
    <% if topic.user == current_user %>
      <%= link_to topic, class: 'btn btn-danger btn-xs pull-right', method: :delete, data: { confirm: 'Are you sure you want to delete this topic?' } do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <% end %>
  </div>
    <%= render partial: 'bookmarks/bookmark', collection: topic.bookmarks %>
</div>